@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>Message: @ViewBag.Message</p> 
    <p>Request Url: @ViewBag.RequestUrl</p>
    <p>User Host Address: @ViewBag.UserHostAddress</p>
    <p>Server Name: @ViewBag.MachineName</p>
</div>
