@model BasicMVCNorthwind.Models.Products

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchList</title>
</head>
<body>
    <div>
        @Html.Label(Model.ProductName)
    </div>
</body>
</html>
